.card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border-radius: var(--border-radius);
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    &:hover {
        transform: scale(1.05) translateY(-10px);
        box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    }
    .card_title {
        font-size: 24px;
        font-weight: bold;
        text-shadow: 1px 0 3px var(--white);
        text-transform: capitalize;
    }

    .card_image {
        width: 100%;
        height: 100%;
        box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
    }
    .card_body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: var(--spacing-2);
        .card_text {
            font-size: 16px;
            font-weight: bold;
            text-shadow: 1px 0 3px var(--white);
        }
        .card_types {
            text-transform: capitalize
        }
    }
}