.header {
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-2);
    .logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .title-image {
        max-width: 500px;
        width: 60%;
        justify-content: center;
    }
    .accent {
        width: 18%;
        max-width: 150px;
    }
    .title {
        font-family: 'Bruno Ace';
        font-size: 2rem;
        text-wrap: balance;
    }
}