.select__limit-trigger {
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
    cursor: pointer;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: var(--spacing-2);
    color: var(--secondary-color);
    border-radius: var(--border-radius);
    background-color: var(--item-background-color);
    transition: background-color 0.3s ease;
    &:hover, &:focus, &:active {
        background-color: color-mix(in srgb, var(--item-background-color) 75%, white);
    }
}

.select__limit-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-1);
}

.select__limit-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-2);
    cursor: pointer;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    background-color: var(--item-background-color);
    transition: background-color 0.3s ease;
    &:hover, &:focus, &:active {
        background-color: color-mix(in srgb, var(--item-background-color) 75%, white);
    }
}