.footer {
    max-width: 800px;
    width: 90%;
    margin: 5px auto;
    height: 100px;
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding: 1rem;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 600;
    color: #2F4550;
    margin-top: auto;
    display: flex;
    border-radius: 4em;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    p {
        font-size: var(--font-size-2);
        font-weight: bold;
        letter-spacing: 1px;
        line-height: 1.5;
        text-wrap: balance;
        text-shadow: 1px 0 3px var(--white);
        text-transform: uppercase;
        text-decoration: none;
        text-decoration-color: var(--base-color);
        text-decoration-thickness: 2px;
        text-decoration-style: solid;
        text-decoration-skip-ink: none;
        text-decoration-skip-ink: none;
    }
}