.language__list {
    display: flex;
    justify-content: flex-end;
    gap: var(--spacing-2);
    margin-right: var(--spacing-4);
    padding: var(--spacing-2);

    .language__list-trigger {
        display: flex;
        align-items: center;
        gap: var(--spacing-2);
        cursor: pointer;
        border: 1px solid var(--border-color);
        border-radius: var(--border-radius);
        padding: var(--spacing-2);
        color: var(--secondary-color);
        border-radius: var(--border-radius);
        background-color: var(--item-background-color);
        transition: background-color 0.3s ease;
        &:hover, &:focus, &:active {
            background-color: color-mix(in srgb, var(--item-background-color) 75%, white);
        }
    }
}


.language__list-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-1);
}
.language__list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-2);
    background-color: var(--item-background-color);
    border-radius: var(--border-radius);
    padding: var(--spacing-2);
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover, &:focus, &:active {
        background-color: color-mix(in srgb, var(--item-background-color) 75%, white);
    }
}

.language__list-item-title {
    color: var(--secondary-color);
    font-size: var(--font-size-2);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.5;
    text-align: center;
    text-shadow: 1px 0 3px var(--white);
}

.language__list-item-flag {
    max-width: 20px;
    max-height: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}